.hero {
    margin: 4rem 0;
    text-align: center;
}
.hero__heading {
    font-size: 3rem;
    font-weight: 700;
    width: 75%;
    line-height: 1.25;
    margin: 3rem auto;
    text-align: center;
}
.hero__button {
    background: #6366f1;
    border-radius: 9999px;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
}
