.post {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
    margin: 8rem 0 2rem 0;
    padding: 4rem 2rem 2rem 2rem;
    position: relative;
}

.post__index {
    /* Size */
    height: 10rem;
    width: 10rem;

    /* Absolute position */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Make it like circle */
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 0.25);
    font-size: 4rem;

    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
}

.post__heading {
    color: #6366f1;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.post__content {
    line-height: 1.5;

    a {
        color: #6366f1;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }

    blockquote {
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        margin: 1rem 0;
        padding: 0.25rem 1rem;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    hr {
        background: rgba(0, 0, 0, 0.1);
        height: 1px;
        border: none;
    }

    img {
        max-width: 100%;
    }

    ol {
        counter-reset: ol-step-counter;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ol li {
        counter-increment: ol-step-counter;
        padding-bottom: 0.25rem;
        padding-left: 2rem;
    }
    ol li::before {
        background-color: #e5e7eb;
        border-radius: 50%;
        content: counter(ol-step-counter);
        align-items: center;
        display: inline-flex;
        justify-content: center;
        position: absolute;
        margin-left: -2rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    p {
        margin: 1rem 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        padding: 0.5rem;
    }

    th {
        font-weight: normal;
        text-align: left;
    }

    thead {
        background: #d1d5db;
    }

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    ul {
        margin: 0;
        padding: 0 0 0 1.5rem;
    }
}
