---
layout: layouts/base.njk
title: Common techniques to deal with cross browser compatible issues
---

<div class="container">
    <div class="hero">
        <h1 class="hero__heading">Common techniques to deal with cross browser compatible issues</h1>
        <a class="hero__button" href="https://github.com/phuocng/cross-browser">Star me on GitHub</a>
    </div>

    <div class="grid">
    {%- for post in collections.sortByIndex -%}
        <div class="card__item" data-index={{ post.data.index }}>
            <a class="card__link" href="{{ post.url }}">{{ post.data.title }}</a>
        </div>
    {%- endfor -%}
    </div>

    {% include "follow.njk" %}
</div>